{% load static %}
<!------- Footer -------> 
<section class="footer">
    <img id="logo-icon" class="show-on-scroll" src="{% static 'images/logo-icon.png' %}">
    <div class="footer-header show-on-scroll">
        <img src="{% static 'images/Nameplate-Footer.png' %}">
        <p>All rights reserved&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2021</p>
    </div>
    <div class="social-media-links-container">
        <div class="social-media-links show-on-scroll">
            <a href="https://www.facebook.com/cvcpioneers" target=”_blank” id="fb"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://twitter.com/cvc_pioneers" target=”_blank” id="twt"><i class="fab fa-twitter-square"></i></a>
                    <a href="https://www.instagram.com/cvc_pioneers/" target=”_blank” id="ig"><i class="fab fa-instagram-square"></i></a>
                    <a href="https://www.linkedin.com/company/%CF%80-oneers/" target=”_blank” id="lin"><i class="fab fa-linkedin"></i></a>
                    <a href="mailto:cvcpioneers@gmail.com" id="gplus"><i class="fab fa-google-plus-square"></i></a>
        </div>
    </div>
    <div class="background"></div>
    <div class="background-paper-plate show-on-scroll">
        <h1>FOLLOW US</h1>
    </div>
</section>