@font-face {
    font-family: Coolvetica;
    src: url("../fonts/coolveticarg.5d474fd2ebc6.ttf");
}
@font-face {
    font-family: Akira-Expanded;
    src: url("../fonts/AkiraExpandedDemo.4e851bdf1159.otf");
}

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
    /*16px*/
}
.show-on-scroll{
    opacity: 0;
    transform: translateY(4em);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    will-change: transform, opacity;
}
nav.show-on-scroll, .footer .show-on-scroll, .notransform{
    transform: none;
}
.is-visible, nav.show-on-scroll, .footer .is-visible{
    opacity: 1;
    transform: none;
}
nav{
    height: 8rem;
    width: 100%;
    display: flex;
    padding: 2% 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-image: url("../images/Background-Nav.d092adb2e1d1.png");
    background-size: cover;
    background-position: center;
    position: relative;
}
nav img{
    width: 21rem;
    transform: translate(-2vw);
    transition: 0.5s ease-out;
}
nav img:hover{
    transform: translate(0vw);
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 1.5rem;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Coolvetica;
}
.inactivePage::after, .activePage::after{
    content: '';
    opacity: 0;
    height: 4px;
    background: #ffa81d;
    display: block;
    margin: 14px 0 0;
    transition: 0.5s ease-out;
}
.activePage::after{
    opacity: 1;
}
.inactivePage:hover::after{
    opacity: 1;
}
nav .fas{
    display: none;
}
@media(max-width: 700px){
    nav img{
        width: 50vw;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links ul li a {
        font-size: medium;
    }
    .nav-links{
        position: absolute;
        background: #1a446c;
        height: 100vh;
        width: 55vw;
        top: 0;
        right: -55vw;
        text-align: left;
        z-index: 2;
        transition: 1s;
        display: none;
    }
    nav .fas{
        display: block;
        color: #fff;
        margin: 1vh;
        font-size: 2.8vh;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 4vh 9vw;
    }
}

/*----- footer -----*/
.footer {
    width: 100%;
    height: 250px;
    position: relative;
    margin-top: 7.5vh;
}
.background-paper-plate{
    background-image: url("../images/Plate-Background-Footer.12441607fdd7.png");
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: 30% 20%;
    border-radius: 20px;
    box-shadow: -10px 0.5vh 20px 0px gray;
    text-align: center;
    width: 300px;
    height: 225px;
    position: absolute;
    right: 10%;
    bottom: 3%;
    z-index: -1;
}
.background-paper-plate h1{
    font-family: Akira-Expanded;
    font-size: 1.5rem;
    color: #003466;
    padding-top: 15px;
    mix-blend-mode: multiply;
}
.background{
    width: 100%;
    height: 180px;
    background-image: url("../images/Background-Footer.db70fa190a31.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    z-index: 0;  
}
.footer-header, #logo-icon, .social-media-links{
    display: block;
    position: absolute;
    z-index: 1;
}
#logo-icon{
    height: 235px;
    left: 7.5%;
    bottom: 5%;
    z-index: 1;
}
.footer-header{
    left: 27.5%;
    bottom: 27.5%;
    font-family: Coolvetica;
    color: white;
}
.footer-header img{
    height: 25px;
}
.social-media-links{
    right: 7.5%;
    bottom: 25%;
}
.social-media-links a{
    text-decoration: none;
    color: white;
}   
.social-media-links i{
    font-size: 3.12rem;
    letter-spacing: 2.25rem;
    transition: 0.25s;
}
#fb i:hover{
    color: #3B5998;
}
#twt i:hover{
    color: #1DA0F1;
}
#ig i:hover{
    background: linear-gradient(-45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#lin i:hover{
    color: #0073b0;
}
#gplus i:hover{
    color: #dc4a38;
}
@media(max-width: 700px){
    .footer {
        height: 400px;
        margin-top: 7.5vh;
    }
    .background-paper-plate{
        bottom: 45%;
    }
    .background{
        height: 350px;
    }
    #logo-icon{
        height: 175px;
        left: 0;
        bottom: 40%;
    }
    .footer-header{
        left: 50%;
        bottom: 55%;
    }
    .footer-header img{
        height: 25px;
    }
    .social-media-links-container{
        position: absolute;
        left: 50%;
        top: 65%;
    }
    .social-media-links{
        text-align: center;
        position: relative;
        left: -50%;
        line-height: 3rem;
    }
    .social-media-links i{
        font-size: 2.5rem;
        letter-spacing: 1rem;
    }
}